<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <h1>Articles posting</h1>
    </div>

    <div class="card-body">
      <%= link_to "Write a new article", new_article_path %>
      <div class="cards">
        <div class="card-article">
          <% @articles.each do |article| %>
            <h3><%= article.title %></h3>
            <p><%= article.content %></p>
            <%= link_to "Go to see", article_path(article) %>
            <%= link_to "Delete", article_path(article), method: :delete %>
          <% end %>
        </div>
      </div>
  </div>
</div>
</div>
