<div class="container">
  <h1><%= @chatroom.name %></h1>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <div id="content">
    <% @chatroom.messages.each do |message| %>
      <% unless message.content == "subscription" %>
        <p><%= message.user.username %>: <%= message.content %></p>
      <% end -%>
    <% end -%>
    </div>
  </div>

  <%= simple_form_for([@other_user, @message], remote: true) do |f| %>
    <%= f.input :chatroom_id, as: :hidden, value: @message.chatroom.id %>
    <%= f.input :content %>
    <%= f.button :submit %>
  <% end -%>
</div>
