<div class="container mt-3">
  <div class="card rounded-lg">
    <div class="card-header">
      <h1>All of our jobs</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-9">
          <%= form_tag jobs_path, method: :get, class: "form-inline mb-3" do %>
          <table>
            <tr>
              <td>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control rounded-pill",
                  type: "search",
                  placeholder: "Find a job"
                %>

              </td>
              <td>
                <%= submit_tag "Search", class: "btn btn-outline-primary rounded-pill mt-auto" %>
              </td>
            </tr>
          </table>
          <% end %>

        </div>
        <div class="col-12 col-md-2 m-auto">
          <%== pagy_bootstrap_nav(@pagy) %>

        </div>
      </div>
      <hr>
      <br>
      <% if @jobs.empty? %>
        <p>No results found.</p>
      <% end -%>
      <div class="cards">
        <% @jobs.each do |job| %>
          <div class="card-job rounded-pill">
            <div class="card-job-infos">
              <h2><%= link_to job.title, job_path(job) %></h2>
              <div class="card-job-description"><%= job.description.gsub(/(<[^>]+>)/, '').truncate(150, separator: ' ') %></div>
              <p class="mt-1">Recruiter: <%= link_to job.user.username, user_path(job.user) %></p>
            </div>
          </div>
        <% end -%>
      </div>

    </div>
  </div>
</div>
