<div class="container mt-3">
  <div class="card rounded-lg">
    <div class="card-header">
      <h1><%= @job.title %></h1>

    </div>
    <div class="card-body">
      <table>
        <tr>
          <% if current_user.role == "candidate" %>
            <td class="pr-2">
                <% unless @followings_job.id %>
                  <%= simple_form_for(@followings_job) do |f|%>
                    <%= f.hidden_field :job_id, value: @followings_job.job.id %>
                    <%= f.button :submit, value: "Follow", class: "btn btn-outline-primary rounded-pill" %>
                  <% end -%>
                <% else %>
                  <%= link_to 'Unfollow', followings_job_path(@followings_job), method: :delete, class: 'btn btn-outline-warning rounded-pill' %>
                <% end -%>
            </td>

            <td class="pr-2">

              <% if @jobs_application.user.nil? %>
                <%= simple_form_for([@job, @jobs_application], remote: true) do |f| %>
                  <%= f.button :submit, value: 'Apply to this job', class: 'btn btn-outline-primary rounded-pill' %>
                <% end -%>
              <% else %>
                <span class="btn btn-outline-warning rounded-pill disabled">You already applied to this job.</span>
              <% end -%>
            </td>
          <% end -%>
          <td class="pr-2">
            <%= link_to "Back to Jobs", jobs_path, class: 'btn btn-outline-secondary rounded-pill' %>
          </td>
          <td>
            Recruiter: <%= link_to @job.user.username, user_path(@job.user) %>

          </td>
        </tr>
      </table>
      <hr>
      <p><%= @job.description.html_safe %></p>

    </div>
  </div>

</div>
