<div class="container mt-3">
  <div class="cards">
    <% @users.each do |user| %>
      <div class="card-user">
        <% if user.profile_picture.attached? %>
            <%= cl_image_tag user.profile_picture.key, class: "avatar-square" %>
        <% else %>
           <%= image_tag "no-avatar.png", class: "avatar-square" %>
        <% end -%>
        <div class="card-user-infos">
          <h2><%= link_to user.username, user_path(user) %></h2>
          <p><%= user.job_position %></p>
          <p><%= user.role.capitalize %></p>
        </div>
      </div>
    <% end -%>
  </div>
</div>
