<div class="container mt-3">
    <%= form_tag users_path, method: :get, class: "form-inline mb-3" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        type: "search",
        placeholder: "Find a user"
      %>
      <%= submit_tag "Search", class: "btn btn-outline-primary ml-3" %>
    <% end %>
  <div class="cards">
    <% @users.each do |user| %>
      <div class="card-user">
        <% if user.profile_picture.attached? %>
            <%= cl_image_tag user.profile_picture.key, class: "avatar-square" %>
        <% else %>
           <%= image_tag "no-avatar.png", class: "avatar-square" %>
        <% end -%>
        <div class="card-user-infos">
          <h2><%= link_to user.username, user_path(user) %></h2>
          <p><%= user.job_position %></p>
          <p><%= user.role.capitalize %></p>
        </div>
      </div>
    <% end -%>
  </div>
</div>
