<div class="container mt-3">
  <div class="card mb-3">
    <div class="card-header">
      <h1><%= @user.username %>'s profile</h1>

    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-12">
          <table>
            <tr>
              <td>
                <% unless @followings_user.id %>
                  <%= simple_form_for([ @user, @followings_user]) do |f|%>
                    <%= f.button :submit, value: "Follow", class: "btn btn-outline-primary rounded-pill" %>
                  <% end -%>
                <% else %>
                  <%= link_to 'Unfollow', user_followings_user_path(@user, @followings_user), method: :delete, class: 'btn btn-outline-warning rounded-pill' %>
                <% end -%>
              </td>
            <%#= link_to 'Send a message', new_user_message_path(@user),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-message', class: 'btn btn-outline-primary'}  %>
              <td>
                <button id="send-message" data-user-id="<%= @user.id %>" data-chatroom-id="<%= @chatroom.id %>" class="btn btn-outline-primary rounded-pill" data-toggle="modal" data-target="#modal-message">Send a message</button>
              </td>

            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

  <div id="modal-message" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Send a message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
            <div id="content">
            <% @chatroom.messages.all.each do |message| %>
              <% unless message.content == "subscription" %>
                <% html = "<strong>#{message.content}</strong>".html_safe %>
                <p><%= message.user.username %>: <%= message.read == false && message.user != current_user ? html : message.content %></p>
              <% end -%>
            <% end -%>
            </div>
          </div>
          <%= simple_form_for([@user, @message], remote: true) do |f| %>
            <%= f.input :chatroom_id, as: :hidden, value: @message.chatroom.id %>
            <%= f.input :content %>
            <%= f.button :submit, class: 'btn btn-outline-primary' %>
          <% end -%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>

    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2>About me</h2>

        </div>
        <div class="card-body">
          <p><%= @user.about_me %></p>

        </div>
      </div>
    </div>
  </div>
    <% if @user.role == "candidate" %>
    <div class="row mb-3">
      <div class="col-12 col-md-6">
        <div class="card mb-3">
          <div class="card-header">
            <h2>Current skills</h2>
          </div>
          <div class="card-body">


            <% unless @current_users_skills.blank? %>
              <% @current_users_skills.each do |user_skill| %>


                <div class="card-skill">
                  <div class="card-skill-infos mr-auto">
                    <h2><%= user_skill.skill.name %></h2>
                    <!-- <p><%#= user_skill.level.capitalize %></p> -->
                    <div class="d-flex"><%= "<div class='level'></div>".html_safe * (UsersSkill.levels[user_skill.level]+1) %></div>

                  </div>
                  <span class="btn btn-outline-primary rounded-pill mr-4" data-toggle="modal" data-target="#modal-recommandation-<%= user_skill.id %>">Recommend</span>
                </div>

                <div id="modal-recommandation-<%= user_skill.id %>" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Recommend this user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <% @recommandation.users_skill = user_skill %>
                        <%= simple_form_for([@user, @recommandation], remote: true) do |f| %>
                          <%= f.input :users_skill_id, as: :hidden, value: @recommandation.users_skill.id %>
                          <%= f.input :content %>
                          <%= f.button :submit, class: 'btn btn-outline-primary' %>
                        <% end -%>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                      </div>
                    </div>
                  </div>
                </div>
                <% unless user_skill.recommandations.blank? %>
                  <div class="recommandations">
                    <h5>Recommendations</h5>
                    <div class="recommendations-list">
                      <div>
                        <% user_skill.recommandations.each do |recommandation| %>
                          <p><%= recommandation.user.username %>: <%= recommandation.content %></p>
                        <% end -%>

                      </div>
                    </div>

                  </div>
                <% end -%>
              <% end -%>
            <% else %>
              <p>No current skills.</p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card mb-3">
          <div class="card-header">
            <h2>Previous skills</h2>
          </div>
          <div class="card-body">


            <% unless @previous_users_skills.blank? %>
              <% @previous_users_skills.each do |user_skill| %>
                <div class="card-skill previous-skills">
                  <div class="card-skill-infos mr-auto">
                    <h2><%= user_skill.skill.name %></h2>
                    <!-- <p><%#= user_skill.level.capitalize %></p> -->
                    <div class="d-flex"><%= "<div class='level'></div>".html_safe * (UsersSkill.levels[user_skill.level]+1) %></div>
                  </div>
                  <span class="btn btn-outline-primary rounded-pill mr-4" data-toggle="modal" data-target="#modal-recommandation-<%= user_skill.id %>">Recommend</span>
                </div>

                <div id="modal-recommandation-<%= user_skill.id %>" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Recommend this user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <% @recommandation.users_skill = user_skill %>
                        <%= simple_form_for([@user, @recommandation], remote: true) do |f| %>
                          <%= f.input :users_skill_id, as: :hidden, value: @recommandation.users_skill.id %>
                          <%= f.input :content %>
                          <%= f.button :submit, class: 'btn btn-outline-primary' %>
                        <% end -%>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                      </div>
                    </div>
                  </div>
                </div>
                <% unless user_skill.recommandations.blank? %>
                  <div class="recommandations">
                    <h5>Recommendations</h5>
                    <div class="recommendations-list">
                      <div>
                        <% user_skill.recommandations.each do |recommandation| %>
                          <p><%= recommandation.user.username %>: <%= recommandation.content %></p>
                        <% end -%>

                      </div>
                    </div>

                  </div>
                <% end -%>
              <% end -%>
            <% else %>
              <p>No current skills.</p>
            <% end -%>
          </div>
        </div>
          <div class="card">
            <div class="card-header">
              <h2>Experiences</h2>

            </div>
            <div class="card-body">
              <% unless @experiences.blank? %>
                <div class="experiences">
                  <% @experiences.each do |experience| %>
                      <p><%= experience.content %></p>
                  <% end -%>
                </div>
              <% else %>
                <p>No experiences.</p>
              <% end %>

            </div>


          </div>

      </div>

    </div>
    <% end -%>
    <div class="row">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-header">
            <h2>Followers</h2>

          </div>
          <div class="card-body">

            <% unless @user.followees.blank? %>
              <% @user.followees.each do |follower| %>
                <%= link_to follower.follower.username, user_path(follower.follower), class: 'btn btn-outline-secondary rounded-pill' %>
              <% end -%>
            <% else %>
              <p>No followers.</p>
            <% end %>
          </div>
        </div>
        <div class="card">
            <div class="card-header">
            <h2>Followees</h2>

            </div>
            <div class="card-body">
            <% unless @user.followers.blank? %>
              <% @user.followers.each do |followee| %>
                <%= link_to followee.followee.username, user_path(followee.followee), class: 'btn btn-outline-secondary rounded-pill' %>
              <% end -%>
            <% else %>
              <p>No followees.</p>
            <% end %>


        </div>
      </div>
    </div>
  </div>

</div>

