<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'reconversion-professionnelle.jpg' %>);">
  <div class="container">
    <h1>Welcome to <span class="r-reversed-banner">&#7449;</span>eNewMe the retraining site</h1>
    <p>The beginning of the new version of You!</p>
    <% unless user_signed_in? %>
      <a class="btn btn-outline-success" href="<%= new_user_registration_path %>">Join now</a>
    <% end -%>
  </div>
</div>
<div class="container">
  <div class="card rounded-lg mt-3">
    <div class="card-header">
      <h2>Latest retraining users</h2>

    </div>
    <div class="card-body">
      <div class="cards">
        <% @users.each do |user| %>
          <div class="card-user rounded-pill">
            <% if user.profile_picture.attached? %>
                <%= cl_image_tag user.profile_picture.key, class: "avatar" %>
            <% else %>
               <%= image_tag "no-avatar.png", class: "avatar" %>
            <% end -%>
            <div class="card-user-infos">
              <h2><%= link_to user.username, user_path(user) %></h2>
              <p><%= user.job_position %></p>
              <p><%= user.role.capitalize %></p>
            </div>
          </div>
        <% end -%>
      </div>

    </div>
  </div>
  <div class="card rounded-lg mt-3">
    <div class="card-header">
      <h2>Latest jobs</h2>

    </div>
    <div class="card-body">
      <div class="cards">
        <% @jobs.each do |job| %>
          <div class="card-job rounded-pill">
            <div class="card-job-infos">
              <h2><%= link_to job.title, job_path(job) %></h2>
              <p><%= job.description.truncate(150, separator: ' ') %></p>
            </div>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
    <div class="card rounded-lg mt-3">
      <div class="card-header">
        <h2>Latest articles</h2>

      </div>
    <div class="card-body">
      <div class="cards">
        <% @articles.each do |article| %>
          <div class="card-user rounded-pill">
            <div class="card-user-infos">
              <h2><%= link_to article.title, article_path(article) %></h2>
              <p><%= article.content.truncate(150, separator: ' ') %></p>
            </div>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
