<div class="modal-header">
  <h5 class="modal-title">Add a new job</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <%= simple_form_for([current_user, @job], url: my_user_jobs_path, remote: true) do |f| %>

    <%= f.input :title, label: "Enter the title of the job" %>

    <%= f.input :description, as: :hidden %>
    <trix-editor input="job_description" style="height: 400px;overflow-y:auto">></trix-editor>
    <%#= f.input :visible %>
    <div class="custom-control custom-switch mt-3 mb-3">
      <%= f.check_box :visible, class: "custom-control-input", id: "customSwitch1" %>
      <label class="custom-control-label" for="customSwitch1">Make your job visible and searchable</label>
    </div>
    <%= f.button :submit, class: 'btn btn-outline-primary' %>
    <button type="button" class="btn btn-outline-secondary ml-3" data-dismiss="modal">Close</button>
  <% end -%>
</div>

