<div class="container mt-3">
  <div class="card rounded-lg">
    <div class="card-header">
      <h1>Edit Job</h1>
    </div>
    <div class="card-body">
      <%= simple_form_for([current_user, @job], url: my_user_job_path, remote: true) do |f| %>

        <%= f.input :title, label: "Enter the title of the job" %>

        <%= f.input :description, as: :hidden %>
        <trix-editor input="job_description"></trix-editor>
        <%= f.input :visible %>
        <%= f.button :submit, class: 'btn btn-outline-primary' %>
      <% end -%>

    </div>
  </div>

</div>

