<div class="container mt-3">
  <div class="card rounded-lg">
    <div class="card-header">
      <h1><%= @job.title %></h1>

    </div>
    <div class="card-body">
      <%= @job.description.html_safe %>
      <%= link_to "Edit", edit_my_user_job_path(current_user,@job), class: 'btn btn-outline-primary rounded-pill' %>
      <%= link_to "Delete", my_user_job_path(current_user,@job), method: :delete, class: 'btn btn-outline-danger rounded-pill' %>
      <%= link_to "Back to List", my_user_jobs_path , class: 'btn btn-outline-secondary rounded-pill'%>

    </div>
  </div>

</div>

