<div class="container mt-3">
  <div class="card rounded-lg">
    <div class="card-header">
      <h1>My Jobs Applicants</h1>
    </div>
    <div class="card-body">
      <%== pagy_bootstrap_nav(@pagy)  %>
      <% unless @jobs.blank? %>
        <% @jobs.each do |job| %>
          <% unless job.jobs_applications.blank? %>
            <div class="card rounded-lg mb-3">
              <div class="card-body pl-5 pt-2 pb-2">
                <p>
                  <h5 class="">Position: <%= link_to job.title, my_user_job_path(current_user, job) %></h5>
                  <div class="row">
                    <% job.jobs_applications.order(created_at: :desc).each do |jobs_application| %>
                      <div class="card job rounded-pill mb-3 mr-2 col-10 col-md-5 col-lg-auto">
                        <div class="card-body">
                          <h6><%= link_to jobs_application.user.username, user_path(jobs_application.user) %> - <%= jobs_application.user.job_position %> applied <%= jobs_application.created_at.strftime("on %Y-%m-%d") %></h6>

                          <ul class="job-skills">
                            <% unless jobs_application.user.users_skills.where(previous_skills: false).blank? %>
                          <% jobs_application.user.users_skills.where(previous_skills: false).each do |user_skill| %>
                            <li><%= user_skill.skill.name %></li>
                          <% end -%>
                            <% else %>
                              No skills to display.
                            <% end -%>
                          </ul>
                        </div>
                      </div>
                    <% end -%>
                  </div>
                </p>
              </div>
            </div>
          <% end -%>
        <% end -%>
      <% else %>
        <p>You don't have any jobs.</p>
      <% end -%>
    </div>
  </div>
</div>
